<div class="favs-container">
    <div class="fav-1 element">
        <a [href]="favs[0].link">
            <img [src]="favs[0].img">
        </a>
    </div>
    
    <div class="fav-2 element">
        <a [href]="favs[1].link">
            <img [src]="favs[1].img">
        </a>
    </div>
    
    <div class="fav-3 element">
        <a [href]="favs[2].link">
            <img [src]="favs[2].img">
        </a>
    </div>
    
    <div class="fav-4 element">
        <a [href]="favs[3].link">
            <img [src]="favs[3].img">
        </a>
    </div>
    
    <div class="fav-5 element">
        <a [href]="favs[4].link">
            <img [src]="favs[4].img">
        </a>
    </div>
    
    <div class="fav-6 element">
        <a [href]="favs[5].link">
            <img [src]="favs[5].img">
        </a>
    </div>
    
    <div class="fav-7 element">
        <a [href]="favs[6].link">
            <img [src]="favs[6].img">
        </a>
    </div>
    
    <div class="fav-8 element">
        <a [href]="favs[7].link">
            <img [src]="favs[7].img">
        </a>
    </div>
    
    <div class="fav-9 element">
        <a [href]="favs[8].link">
            <img [src]="favs[8].img">
        </a>
    </div>
    
    <div class="fav-10 element">
        <a [href]="favs[9].link">
            <img [src]="favs[9].img">
        </a>
    </div>
    
    <div class="fav-11 element">
        <a [href]="favs[10].link">
            <img [src]="favs[10].img">
        </a>
    </div>
</div>